body {
    background: #fffAf0;
}

h1 {
    color: #3cb371;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: double;
    border-color: #3cb371;
}

.intro {
    text.alight: center;
}

.intro {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2 {
    text-align: center;
}